<template>
  <div class="home">
    {{ name }} {{ password }} {{ number }}
  </div>
</template>

<script>

  import { reactive, toRefs, ref } from '@vue/composition-api'

export default {
  setup() {
   const form = reactive({
     name: 'Cristian',
     password: 'password'
   })

    const number = ref(0)

    setTimeout(() => {
      form.name = 'Oscar'
      number.value = 1
    }, 1000)

    console.log(form)
    console.log(toRefs(form))

    return {
     ...toRefs(form),
      number
    }
  }
}
</script>
